In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
df.shape

(301, 9)

In [4]:
print(df['Seller_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Manual' 'Automatic']
[0 1 3]

In [5]:
#check missinf or null values
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [6]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [7]:
df['Year'].unique()

array([2014, 2013, 2017, 2011, 2018, 2015, 2016, 2009, 2010, 2012, 2003,
       2008, 2006, 2005, 2004, 2007], dtype=int64)

In [8]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [9]:
final_dataset = df[['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner']]

In [10]:
final_dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [11]:
final_dataset['Current_Year']=2022

In [12]:
final_dataset['no_year']=final_dataset['Current_Year']-final_dataset['Year']

In [13]:
final_dataset.drop(['Year'],axis=1,inplace=True)

In [14]:
final_dataset.drop(['Current_Year'],axis=1,inplace=True)

In [15]:
final_dataset = pd.get_dummies(final_dataset,drop_first=True)

In [16]:
final_dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,8,0,1,0,1
1,4.75,9.54,43000,0,9,1,0,0,1
2,7.25,9.85,6900,0,5,0,1,0,1
3,2.85,4.15,5200,0,11,0,1,0,1
4,4.60,6.87,42450,0,8,1,0,0,1

In [17]:
final_dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,8,0,1,0,1
1,4.75,9.54,43000,0,9,1,0,0,1
2,7.25,9.85,6900,0,5,0,1,0,1
3,2.85,4.15,5200,0,11,0,1,0,1
4,4.60,6.87,42450,0,8,1,0,0,1

In [18]:
x = final_dataset.iloc[:,1:]
y= final_dataset.iloc[:,0]

In [19]:
x.head()

,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,5.59,27000,0,8,0,1,0,1
1,9.54,43000,0,9,1,0,0,1
2,9.85,6900,0,5,0,1,0,1
3,4.15,5200,0,11,0,1,0,1
4,6.87,42450,0,8,1,0,0,1

In [20]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [22]:
x_train.head()

,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
270,10.00,69341,0,11,0,1,0,1
281,7.60,50456,0,16,0,1,0,1
32,7.49,39000,0,8,1,0,0,1
174,0.72,38600,0,7,0,1,1,1
18,5.09,35500,0,7,0,0,0,1

In [24]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [25]:
model.fit(x_train,y_train)

LinearRegression()

In [26]:
predictions =model.predict(x_test)

In [27]:
predictions

array([ 5.21895131e+00,  8.14990881e+00,  4.42842233e+00,  7.76849800e-01,
        4.76005137e+00,  2.37214019e+00,  6.18658716e+00, -2.10773908e+00,
        2.58142513e+00,  1.30202633e+00,  3.35611291e+00,  1.26635113e+00,
        1.52227163e+00,  4.39578111e+00,  1.82540801e+00,  8.46581439e+00,
        7.13935325e+00,  6.65257205e+00,  1.17376019e+01,  1.82656997e+00,
        6.98123828e+00,  1.95276216e+01, -1.12736278e-01,  1.95276216e+01,
        3.81170978e+00,  2.63399123e+00,  8.23589494e+00,  4.55988311e+00,
        1.12707289e+01,  4.05899963e+00, -6.27483162e-02, -3.42114011e+00,
       -1.75901180e+00,  3.74573933e+00,  4.35479759e+00,  5.12315992e+00,
        5.87957765e-01,  1.95293022e+00,  2.56046085e+00,  1.04035530e+01,
        5.20499416e+00,  6.42847723e+00,  7.43813236e+00,  4.28859530e+00,
        5.27277419e-01,  8.31730240e+00,  5.60093692e+00,  9.30129432e-01,
        4.14897477e+00,  5.05233512e+01,  3.70446180e+00,  3.59982469e-02,
        6.79676774e-01,  2.30286774e+00,  3.56155354e+00,  1.04691292e+00,
       -1.28369875e+01,  1.02665854e+01,  2.43529030e+00,  4.46196043e+00,
        1.02120607e+01])

In [30]:
import pickle
# open a file, where you ant to store the data
file = open('linear_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(model, file)